:root {
  --primary: #1f2937;
  --secondary: #273549;
  --accent: #10b981;
  --background: #1c1c1c;
  --text: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text);
  font-family: 'Inter', sans-serif;
  background: var(--background);
}

/* Layout */

.container {
  width: 550px;
  height: 550px;
  margin: 50px auto;
  padding: 75px 50px;
  background: var(--primary);
}

#generate-btn {
  margin-top: 40px;
  padding: 10px 17px;
  color: var(--text);
  font-size: 16px;
  font-weight: 500px;
  background-color: var(--accent);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.password-background {
  margin-top: 40px;
  border-top: 1px solid var(--secondary);
  display: flex;
  justify-content: space-between;
}

#passwordone-el,
#passwordtwo-el {
  margin-top: 40px;
  width: 212px;
  height: 40px;
  padding: 10px 0;
  font-size: 15px;
  color: var(--accent);
  text-align: center;
  background-color: var(--secondary);
  border-radius: 5px;
}

/* Typography */

h1 {
  font-size: 49px;
  font-weight: 700px;
  padding: 0;
  margin: 0;
}

.title-accent {
  color: var(--accent);
  padding: 0;
  margin: 0;
}

.description {
  font-size: 20px;
}
